@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main {
  background: #eee;
  border: inset 1px #ddd;
  padding: 20px;
  height: calc(100vh - 156px);
  overflow: auto;
}

h1 {
  font-size: 40px;
  line-height: 46px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}
