@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"); */

:root {
  --neutral-black-n-80: #36383a;
  --neutral-n-20: #e9ebed;
  --neutral-n-50: #8f9499;
  --neutral-n-80: #36383a;
  --primary-br-60: #d8315b;
  --primary-br-70-main-color: #bc2449;
  --primary-br-80: #9a1d3d;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: 0px;
}
main {
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: var(--neutral-n-20);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-br-70-main-color);
  border-radius: 99px;
  border: 2px var(--neutral-n-20) solid;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-br-80);
}

main {
  background: #eee;
  border: inset 1px #ddd;
  padding: 20px;
  height: calc(100vh - 156px);
  overflow: auto;
}

h1 {
  color: var(--neutral-black-n-80);
  /* Inter/Headline 1 */
  font-size: 94px;
  font-style: normal;
  font-weight: 300;
  line-height: 140px; /* 148.936% */
  letter-spacing: -1.5px;
}

h2 {
  color: var(--neutral-black-n-80);
  /* Inter/Headline 2 */
  font-size: 59px;
  font-style: normal;
  font-weight: 300;
  line-height: 88px; /* 149.153% */
  letter-spacing: -0.5px;
}
h3 {
  color: var(--neutral-black-n-80);
  /* Inter/Headline 3 */
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px; /* 148.936% */
}
h4 {
  color: var(--neutral-black-n-80);

  /* Inter/Headline 4 */
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 145.455% */
  letter-spacing: 0.25px;
}

h5 {
  color: var(--neutral-black-n-80);

  /* Inter/Headline 5 */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}
h6 {
  color: var(--neutral-black-n-80);

  /* Inter/Headline 6 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 0.15px;
}
p {
  color: var(--neutral-black-n-80);

  /* Inter/Body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
}

.ant-form-item {
  margin-bottom: 0px;
}

.ant-form-large .ant-form-item .ant-form-item-label > label {
  height: 20px;
}

.ant-form-vertical .ant-form-item-label {
  padding-bottom: 4px;
}

#table-antd
  > div
  > div
  > div
  > div
  > div.ant-table-container
  > div.ant-table-body
  > table
  > tbody
  > tr.ant-table-row.ant-table-row-level-0.ant-table-row-selected
  > td.ant-table-cell.ant-table-selection-column
  > label
  > span
  > span {
  background-color: #bc2449;
  color: white;
  border-color: none;
  border: none;
}

#table-antd
  > div
  > div
  > div
  > div
  > div.ant-table-container
  > div.ant-table-body
  > table
  > tbody
  > tr.ant-table-row.ant-table-row-level-0.ant-table-row-selected
  > td {
  background-color: #bc2449;
  color: white;
}

:where(.css-dev-only-do-not-override-19gw05y).ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: #d8315b;
  border: none;
}

#table-antd * .ant-table-row.ant-table-row-level-0:hover,
#table-antd * .ant-table-cell-row-hover {
  background-color: #fceef2;
}
